{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index1.css' %}">
{% endblock %}


{% block content %}
    <header>
    <div class="welcome-text">
        <h1>Find your college!</h1>
            <div class="rightside"> 
                <a href="{% url 'genral' %}"><button>Find College</button></a>
                <a href="{% url 'suggest' %}"> <button>Suggestion</button></a>
            </div>
    </div>
</header>
    
    <section class="colleges">
        <div class="container">
            <div class="row description pt-2">
                <div class="col-md-6">
                    <i class="fa fa-3x fa-building-o" aria-hidden="true"></i>
                    <h1>{{count}}</h1>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-3x fa-users" aria-hidden="true"></i>
                    <h1>{{ucount}}</h1>
                </div>
            </div>
        </div>

    </section>
    
    

{% endblock %}