{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index1.css' %}">
{% endblock %}


{% block content %}
    <header>
    <div class="welcome-text">
        <h1>Find your college!</h1>
            <div class="rightside"> 
                <a href="#what_we_do"><button>What we do</button></a>
            </div>
    </div>
</header>
    
    <section class="colleges">
        <div class="container">
            <div class="row description pt-2">
                <div class="col-md-6">
                    <i class="fa fa-3x fa-building-o" aria-hidden="true"></i>
                    <h1>{{count}}</h1>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-3x fa-users" aria-hidden="true"></i>
                    <h1>{{ucount}}</h1>
                </div>
            </div>
        </div>

    </section>
    
    <!-- <footer>
        <div class="wrapper">
            <div class="description">
                <h4>Project Name</h4>
                <p> Copyright &#169; 2020 Project Name</p>
            </div>
        </div>
    </footer> -->

{% endblock %}